* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.containers {
    width: 100%;
    height: 100%;
}

.navbar {
    height: 100px;
    width: 90%;
    margin: 0 auto;
}

.navbar:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 65%;
    background: transparent;
    transition: width 1s ease, background-color 2s ease;
}

.navbar:hover:after {
    width: 99%;
    background-color: rgb(70, 70, 70);
}

.logo {
    height: 100%;
    display: flex;
}

.logo img {
    height: 100%;
}

.logo label {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Sofia', cursive;
    color: rgb(87, 87, 87);
    text-shadow: 2px 2px 2px #b8b8b8;
}

.login a,
.register a {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: rgb(68, 68, 68);
    text-shadow: 2px 2px 2px #b8b8b8;
}

.loginRegister {
    display: flex;
}

.showDiv {
    height: 100%;
    display: none;
    margin-right: 150px;
}

.showDiv img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.showDiv1 {
    position: relative;
    align-self: flex-end;
}

.dropdowns {
    display: none;
    position: absolute;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}

.dropdowns ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.dropdowns ul>li {
    padding: 8px;
}

.dropdowns h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.showDiv1:hover .dropdowns {
    display: block;
}

.dropdowns ul>li:hover {
    transition: 0.8s;
    background-color: white;
    border-radius: 10px;
    color: black;
}
.showDiv1:hover{
    transition: 0.8s;
    border: 3px solid grey;
    border-radius: 50%;
}
